body {
    background-color: black;
    margin: 0;
    overflow: hidden;
}

.slideContainer {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 80%;
    max-width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.slider {
    width: 100%;
    cursor: pointer;
}

.canva {
    display: block;
}

footer {
    opacity: 0.2;
    color: #bbb;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 1000;
}